*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



body{
    background-color: black;
}
.emails{
    width: 800px;
    margin-top: 50px;
    margin-inline: auto;
    font-size: 20px;
    background-color: black;
    color: white;
    padding: 1em;
    border: 2px solid white;
}

h1{
    margin-bottom: 1em;
}

.email{
    margin-bottom: 1em;
    margin-left: .5em;
}